{
  "presets": [
    ["@babel/env", {
      "target": {
        "browsers": ["> 1%", "last 2 versions"]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": "usage"
    }],
    ["@babel/stage-1", {
      "decoratorsLegacy": true
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    ["transform-imports", {
      "@material-ui/core": {
          "transform": "@material-ui/core/${member}",
          "preventFullImport": true
      },
      "@material-ui/icons": {
          "transform": "@material-ui/icons/${member}",
          "preventFullImport": true
      }
    }]
  ]
}
